.waec-bg {
  background-image: url(/images/waec-2024.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position-x: center; */
}

.focus-light:focus {
  background-color: silver;
}
@media (max-width: 768px) {
  /* .container {
    font-size: xx-small;
  } */
}
