.waec-bg {
  background-image: url(/images/waec-2024.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position-x: center; */
}

.focus-light:focus {
  background-color: silver;
}
.scoreSheetHead {
  overflow-y: scroll;
}
.quiz {
  width: 70%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.69);
}
.dialog-lg {
  width: 30%;
}
/* loginEx */
.loginEx {
  width: 37%;
}
.selectsubj {
  padding: 2px;
}
/*  */

@media (max-width: 768px) {
  /* .container {
    font-size: xx-small;
  } */
  .quiz {
    width: 90%;
    margin: 0 auto;
  }
  .dialog-sm {
    width: 50%;
  }
}

@media (max-width: 321px) {
  .pointer {
    display: none;
    /* margin-left: 0px; */
  }
  .selectsubj {
    width: 60%;
  }
  
  /* 
  selectsubmsg {
    width: 100%;
  } */
}
