/* import the font url for future usage */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* this cover the screen for me */
.screenCover {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(14, 13, 13, 0.25);
}
.hide {
  display: none;
}

.checker {
  list-style: none;
  text-decoration: none;
}

.no-inner-no-outer-spin[type="number"]::-webkit-inner-spin-button,
.no-inner-no-outer-spin[type="number"]::-webkit-outer-spin-button,
.no-inner-spin {
  appearance: none;
}
.FScustom {
  font-size: small;
}

/* Registration Form */
.no-outline:focus {
  outline: none;
  box-shadow: none;
}
fieldset,
legend,
button,
.modal,
table,
tr,
td,
th {
  all: revert;
}

.man {
  border: 2px solid green;
}

.d-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}

.text-purple {
  color: rgb(255, 0, 255);
}

.no-outline {
  outline: none;
}

/* grid  template columns */
.d-grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}
.d-grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.d-grid-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
/* ------------------------------------- */

/* just for class usage to focus cursor:pointer */
.cursor {
  cursor: pointer;
}

.mt-6 {
  margin-top: 96px;
}

.mt-7 {
  margin-top: 100px;
}

.mt-8 {
  margin-top: 116px;
}
/* bg */
.bg-darkgray {
  background-color: darkgray;
}

/* width 10% */
.w-10 {
  width: 10%;
  /* height: 10%;
  line-height: 10%; */
}

/* width 15% */
.w-15 {
  width: 15%;
  /* height: 15%;
  line-height: 15%; */
}

/* width 20% */
.w-20 {
  width: 20%;
  /* height: 20%; */
  /* line-height: 20%; */
}
/* top class */
.top-1 {
  top: 16px;
}
.top-2 {
  top: 32px;
}
.top-3 {
  top: 48px;
}
.top-4 {
  top: 56px;
}

/* media Query */
@media (min-width: 576px) {
  /* .container-sm, .container {
    max-width: 540px;
  } */
}

/* device screen resolution greather than 768(tablet)  */
@media (min-width: 768px) {
  /* .container-md, .container-sm, .container {
    max-width: 720px;
  } */
}
@media (min-width: 992px) {
  /* .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  } */
}
@media (min-width: 1200px) {
  /* .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  } */
}
@media (min-width: 1400px) {
  /* .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  } */
}

/* 2# for Screen resolutions */
@media (max-width: 576px) {
  /* .container-sm, .container {
    max-width: 540px;
  } */
}

/* device screen resolution less than 768(tablet)  */
@media (max-width: 768px) {
  /* .container-md, .container-sm, .container {
    max-width: 720px;
  } */
}
@media (max-width: 992px) {
  /* screen less than 992px */

  /* .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  } */
}
@media (max-width: 1200px) {
  /* .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  } */
}
@media (max-width: 1400px) {
  /* .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  } */
}
