/* body{
    overflow-y: scroll;
    scroll-behavior: smooth;
} */
* {
  margin-top: 0px;
}
.movetrain {
  width: 50%;
  overflow-x: scroll;
}
.schoolreg,
.mycontainer {
  width: 50%;
}
.panel {
  background-color: lightgray;
  display: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
  max-height: 40%;
  width: 50%;
  margin-right: 5px;
}

/* for Landing Page Sch */

.leaf {
  background-color: lightgreen;
  /* padding: 10px; */
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  /* display: block; */
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.landingBinder {
  width: 25%;
}
/*  */
.eyeblind,
.eyeblind2 {
  position: relative;
  z-index: 2;
  margin-left: -25px;
  background-color: white;
}

.footerlist {
  display: flex;
  justify-content: space-evenly;
}

.carouseimg {
  /* margin-top: 10px; */
  display: block;
  width: 50%;
}
.carousetext {
  margin: auto 0px;
}
/*  */

@media (max-width: 768px) {
  .navbtn {
    display: none;
  }
  .menubtn {
    display: block;
  }
  .movetrain,
  .schoolreg,
  .mycontainer {
    width: 75%;
  }

  /* for Landing Page Sch */
  .leaf {
    background-color: lightgreen;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .landingBinder {
    width: 50%;
  }
  .keepMove {
    font-size: small;
  }

  #signupP,
  #signupE {
    font-size: medium;
  }

  .footerlist {
    display: grid;
    /* grid-column: [span]; */
    justify-content: center;
    justify-items: center;
  }

  /*  */
  .carouseimg {
    /* margin-top: 10px; */
    /* display: block; */
    width: 25%;
  }
  .carousetext {
    margin: auto 0px;
    font-size: medium;
  }
  /* .panel {
    width: 60%;
  } */
  /*Landing Page  */
}

@media (max-width: 425) {
  .keepMove {
    font-size: xx-small;
  }
  .leaf {
    /* background-color: lightgreen; */
    border-radius: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
