/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */
body {
  font-family: system-ui, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  overflow-y: scroll;
}
.body {
  background-image: url(/images/tykbgboy.jpg);
  /* background-color: rgba(0, 38, 252, 0.45); */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 25vh;
  background-position: center;
}
.body_bg {
  background-color: rgba(26, 23, 23, 0.9);
  background-image: url(/images/tykbgboy.jpg);
  background-size: 50%;
  background-repeat: no-repeat;
  /* min-height: 1%; */
  background-position: center;
  width: 50vw;
  height: 50vh;
  margin: 0 auto;
}
/* mainwork */
.mainwork {
  margin: 0 auto;
}
/* menuList */
.menuList {
  width: 22vw;
  margin: 0 auto;
  position: fixed;
  top: 100px;
  z-index: 3;
  padding: 0 2px;
  display: none;
}
.menuList ul {
  width: 100%;
}
/*flexMenuMainwork  */
.uList li {
  background-color: rgb(58, 58, 59);
  color: #ffffff;
  text-align: start;
}
.txt {
  margin-top: 5px;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  /* float: right; */
  font-size: large;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgb(236, 234, 234);
  box-shadow: 5px 5px 10px #747277;
}

.letgo {
  /* display: grid; */
  position: static;
  top: 15px;
  width: 100%;
}
.usersection {
  width: 300px;
  margin: 5px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ebe9ee;
  box-shadow: 5px 5px 10px #747277;
}
.usersection input {
  outline: none;
}
.userimg {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 70px;
  margin-left: 5px;
  margin-right: 5px;
  /* object-fit: cover; */
}
.userflex {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  /* border-bottom: 1px solid #e4e2e7; */
  box-shadow: 5px 5px 5px rgba(201, 199, 199, 0.25);
  margin-top: 2px;
  border: none;
  justify-content: start;
}
.userflex:hover {
  transform: translate(0.2s);
}
.userlist {
  height: 160px;
  overflow-y: auto;
}
.usercol {
  display: grid;

  margin-top: 0px;
}
.userheader {
  margin-left: 0px;
}
.box-shadow {
  box-shadow: 0 2px 2px rgb(63, 61, 61);
  transition: width 2s;
}
/* .box-shadow:hover {
  width: 24.97%;
} */
.img:hover {
  width: 39.97%;
  height: 39.97%;
}
.img {
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 40%;
  height: 40%;
}
/* .login {
  top: 400px;
  margin-left: 200px;
} */

* {
  margin: 0;
  padding: 0;
}

fieldset,
legend,
button,
.modal,
table,
tr,
td,
th {
  all: revert;
}
/* hide */
.hide {
  display: none;
}

.heading {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif "Times New Roman", Times,
    serif;
  font-weight: 600;
  background-color: rgb(25, 135, 84);
  padding: 5px;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.backHome {
  text-decoration: none;
  color: #8a2be2;
}
nav {
  margin-top: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.btn-purple {
  background-color: rgb(168, 94, 236);
  border: 1px solid rgb(153, 120, 184);
  padding-top: 4px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 400;

  margin-left: auto;
  margin-right: auto;
}
.btn-purple:hover {
  background-color: #8a2be2;
  color: #fff;
  border: 1px solid #8a2be2;
}

.btn-purple:active {
  background-color: #800bee;
  color: #fff;
  border: 1px solid #800bee;
}

/* Registration Form */
.no-outline:focus {
  outline: none;
  box-shadow: none;
}

.no-inner-no-outer-spin[type="number"]::-webkit-inner-spin-button,
.no-inner-no-outer-spin[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

/* .flexSections {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5px;
} */

.SectionOne {
  /* border: 1px solid red; */
  padding: 5px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(241, 215, 215);
  /* overflow-y: scroll; */
}

.SectionOne p,
h5 {
  margin: 5px;
  text-align: center;
}

.SectionTwo {
  border: 1px solid red;
  padding: 5px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: darkgray;
}

.start {
  background-color: #747277;
  color: white;
  border-radius: 10px;
  /* width: 40%; */
  margin-top: 10px;
}

.myPicture {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100%;
}

#myPictureId {
  border: 2px solid rgba(0, 38, 252, 0.99);
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80px;
  height: 80px;
}
.hr {
  border-width: 5px;
  color: rgba(0, 38, 252, 0.99);
  font-weight: bold;
}
.quotes {
  width: 50vw;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  /* display: flex; */
  /* overflow-x: hidden; */
}
.quotescroll {
  overflow-y: hidden;
  margin-bottom: 10px;
}
.imgcontainer {
  width: 50vw;
  margin: 0 auto;
  border-radius: 10px;
}
.inputimg {
  width: 50vw;
  margin: 0 auto;
  background-color: black;
}
.scoreSheetHead {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 228, 228, 0.98);
  /* background-image: url(/images/software-development-6523979_640.jpg); */
}


button[title="Next Question"]:hover,
button[title="Previous Question"]:hover {
  background-color: #3cff00;
  color: white;
}

.neco,
.waec {
  text-decoration: none;
}

.reveal {
  margin-left: -25px;
  /* font-size: small; */
}

.FScustom {
  font-size: small;
}

.overflowY {
  overflow-y: scroll;
  /* color: #ffffff; */
  position: relative;
  top: 0;
  width: 100%;
  height: 5%;
}

.fieldset-0 ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
}
section .why {
  background-color: rgba(25, 135, 84, 0.8);
  margin: 0 auto;
  width: 50vw;
}
.subjList {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;

  width: 50%;
  height: 100%;
}

/* grid  template columns */
.d-grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}
.d-grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.d-grid-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
/* ------------------------------------- */

.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checker {
  list-style: none;
  text-decoration: none;
}

.text-purple {
  color: rgb(255, 0, 255);
}

.fs-hover:hover {
  font-size: small;
}

/* a-hover color styling */
.a-hover {
  color: #ffffff;
}
.a-hover:hover {
  color: black;
  font-size: 18px;
}
/* ------------------------ */
.fieldset-0 {
  margin-top: 60px;
  background-color: rgba(96, 95, 97, 0.75);
}

/* subsList  */
.subsList:nth-child(even) {
  background-color: #37cc0a;
}

.subsList:nth-child(even):hover {
  background-color: #3cff00;
  color: black;
}
.subsList:nth-child(odd) {
  background-color: #8f5dbe;
}
.subsList:nth-child(odd):hover {
  background-color: #a751f1;
  color: black;
}
/* ------------------------------- */

.rm-subjList {
  position: absolute;
  top: 110px;
  right: 35px;
}

.positionx {
  position: relative;
  top: 59px;
  right: -7px;
  float: right;
}
.myPosition {
  position: relative;
  top: -15px;
  right: -7px;
  float: right;
}
/*  */

/*  */
/* position relative and float right */
.icon-menuList {
  position: relative;
  top: -35px;
  right: -5px;
  float: right;
}

/* float right */
.floatRight {
  float: right;
}
/* ---------------------- */

.registration {
  background-color: rgba(122, 18, 226, 0.75);
}

/* no-inner-spin */

.no-inner-no-outer-spin[type="number"]::-webkit-inner-spin-button,
.no-inner-no-outer-spin[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}
.no-outline {
  outline: none;
}

/* just for class usage to focus cursor:pointer */
.cursor {
  cursor: pointer;
}

.mt-6 {
  margin-top: 96px;
}

.mt-7 {
  margin-top: 100px;
}

/*----------- */

/* creating | waec logo */
.waec-bg {
  background-image: url(/images/waec-2024.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position-x: center; */
}
/* ------------------------- */
/* creating |neco logo */
.neco-bg {
  background-image: url(/images/neco-logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.bluehover:hover {
  color: #1a02f3;
}

footer {
  opacity: 100%;
  background-image: linear-gradient(180deg, white, gray);
  /* box-shadow: #a751f1; */
}
/* device screen resolution greather than 768(tablet)  */
@media (min-width: 768px) {
  /* .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  } */
}
/* device screen smaller than 768px*/
@media (max-width: 768px) {
  .body {
    min-height: 100vh;
  }
  .login {
    /* top: 4px; */
    font-size: small;
    margin-left: 30px;
  }
  .txt {
    font-size: small;
  }

  .body_bg {
    background-size: cover;
  }
  .subsList {
    font-size: small;
  }
  /* menuList */
  .menuList {
    display: none;

    width: 50vw;
    margin: auto;
  }
  /*  .body_bg .txt .imgcontainer (section .why) .quotes .inputimg */
  .body_bg,
  .txt,
  .imgcontainer,
  section .why,
  .quotes,
  .inputimg {
    width: 75vw;
  }
  .menuList ul {
    width: 200px;
    margin-left: 10px;
  }

  /* .flexMenuMainwork {


} */
  .sm-btn {
    font-size: small;
  }
  .fieldset-0 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
  }
}
