@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

fieldset,
legend,
button,
.modal,
table,
tr,
td,
th {
  all: revert;
}
/* hide */
.hide {
  display: none;
}

.body {
  background-image: url(/images/software-development-6523979_640.jpg);

  overflow-y: scroll;
}

.heading {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif "Times New Roman", Times,
    serif;
  font-weight: 600;
  background-color: #dfbf99;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.backHome {
  text-decoration: none;
  color: #8a2be2;
}
nav {
  margin-top: 5px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.btn-purple {
  background-color: rgb(168, 94, 236);
  border: 1px solid rgb(153, 120, 184);
  padding-top: 4px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 400;

  margin-left: auto;
  margin-right: auto;
}
.btn-purple:hover {
  background-color: #8a2be2;
  color: #fff;
  border: 1px solid #8a2be2;
}

.btn-purple:active {
  background-color: #800bee;
  color: #fff;
  border: 1px solid #800bee;
}

/* Registration Form */
.no-outline:focus {
  outline: none;
  box-shadow: none;
}

.no-inner-no-outer-spin[type="number"]::-webkit-inner-spin-button,
.no-inner-no-outer-spin[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}
/* .menuList {
  position: absolute;
  margin-top: 40px;
  padding: 5px;
  background-color: rgba(75, 73, 73, 0.95);
  width: 50%;
  height: 50%;
  z-index: 9999;
  border-radius: 10px;
} */

/* .flexSections {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5px;
} */

.SectionOne {
  /* border: 1px solid red; */
  padding: 5px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(241, 215, 215);
  /* overflow-y: scroll; */
}

.SectionOne p,
h5 {
  margin: 5px;
  text-align: center;
}

.SectionTwo {
  border: 1px solid red;
  padding: 5px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: darkgray;
}

.sectionThree {
  display: flex;
  border: 1px solid red;
  padding: 5px;

  border-radius: 5px;
  background-color: darkgray;
}
.start {
  background-color: #747277;
  color: white;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.myPicture {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 100%;
}

#myPictureId {
  border: 2px solid rgba(0, 38, 252, 0.99);
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80px;
  height: 80px;
}
.hr {
  border-width: 5px;
  color: rgba(0, 38, 252, 0.99);
  font-weight: bold;
}

.scoreSheetHead {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(231, 228, 228, 0.98);
  /* background-image: url(/images/software-development-6523979_640.jpg); */
}

/* .StudentName {
  text-wrap: nowrap;
  font-size: medium;
} */

button[title="Next Question"]:hover,
button[title="Previous Question"]:hover {
  background-color: #3cff00;
  color: white;
}

.neco,
.waec {
  text-decoration: none;
}

.reveal {
  margin-left: -25px;
  /* font-size: small; */
}

.FScustom {
  font-size: small;
}

.overflowY {
  overflow-y: scroll;
  /* color: #ffffff; */
  position: relative;
  top: 0;
  width: 100%;
  height: 5%;
}

.screenCover {
  position: fixed;
  top: -10px;
  left: 0;
  border-radius: 5px;

  width: 100%;
  height: 100%;
  z-index: 2;
  /* background-color: rgba(14, 13, 13, 0.25); */
}
.subjList {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;

  width: 50%;
  height: 100%;
}

/* grid  template columns */
.d-grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}
.d-grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}
.d-grid-4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
/* ------------------------------------- */

.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checker {
  list-style: none;
  text-decoration: none;
}

.text-purple {
  color: rgb(255, 0, 255);
}

.fs-hover:hover {
  font-size: small;
}

/* a-hover color styling */
.a-hover {
  color: #ffffff;
}
.a-hover:hover {
  color: black;
  font-size: 18px;
}
/* ------------------------ */
.fieldset-0 {
  margin-top: 60px;
  background-color: rgba(96, 95, 97, 0.75);
}

/* subsList  */
.subsList:nth-child(even) {
  background-color: #37cc0a;
}

.subsList:nth-child(even):hover {
  background-color: #3cff00;
  color: black;
}
.subsList:nth-child(odd) {
  background-color: #8f5dbe;
}
.subsList:nth-child(odd):hover {
  background-color: #a751f1;
  color: black;
}
/* ------------------------------- */

.rm-subjList {
  position: absolute;
  top: 110px;
  right: 35px;
}

.closeSignUp {
  position: relative;
  top: 5px;
  right: 5px;
  float: right;
}

/* position relative and float right */
.icon-menuList {
  position: relative;
  top: -35px;
  right: -5px;
  float: right;
}
.icon-close {
  top: -45px;
  right: -20px;
  position: relative;

  float: right;
}

/* float right */
.floatRight {
  float: right;
}
/* ---------------------- */

.registration {
  background-color: rgba(122, 18, 226, 0.75);
}

/* no-inner-spin */

.no-inner-no-outer-spin[type="number"]::-webkit-inner-spin-button,
.no-inner-no-outer-spin[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}
.no-outline {
  outline: none;
}

/* just for class usage to focus cursor:pointer */
.cursor {
  cursor: pointer;
}

.mt-6 {
  margin-top: 96px;
}

.mt-7 {
  margin-top: 100px;
}

/*----------- */

/* creating | waec logo */
.waec-bg {
  background-image: url(/images/waec-2024.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position-x: center; */
}
/* ------------------------- */
/* creating |neco logo */
.neco-bg {
  background-image: url(/images/neco-logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.hover:hover {
  color: #1a02f3;
}
