.alreadyColor:hover {
  color: rgb(255, 0, 0);
  background-color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}
.alreadyColor {
  color: #ffffff;
}
fieldset {
  background-color: rgba(0, 0, 0, 0.5);
}
.span-color:hover {
  color: blue;
}
.regSection input {
  width: 50%;
  padding: 7px;
}
/*  */
.sexbox {
  width: 50%;
}

/*signmarquee  */

/*  */
@media screen and (max-width: 600px) {
  .my-auto {
    font-size: larger;
  }
}
/* device screen smaller than 768px*/
@media (max-width: 768px) {
  .regSection input {
    width: 75%;
    padding: 7px;
  }
  .sexbox {
    width: 75%;
  }
}

/* @keyframes signmarquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
} */
