.submitAdmin {
  color: lightskyblue;
}
.submitAdmin:hover {
  background-color: aqua;
  color: red;
}
body {
  background-color: rgba(212, 210, 210, 0.26);
}
fieldset {
  /* background-color: rgba(58, 58, 61, 0.705); */
  background-image: url(/images/tykbggirl.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 70%;
}
.session {
  display: flex;
  flex-direction: row;
}
/* this will take an element back to negative left */
.neg-ms-1 {
  margin-left: -30px;
}
.textarea {
  background-color: aquamarine;
}

.Mymarquee {
  color: bisque;
  display: inline-block;
  animation: Mymarquee 20s linear infinite;
}

.reEnterPwd {
  background-color: rgb(158, 203, 245);
}

/* device screen smaller than 768px tablet screens*/
@media (max-width: 768px) {
  fieldset {
    /* background-color: rgba(58, 58, 61, 0.705); */
    width: 100%;
  }

  .session {
    display: flex;
    flex-direction: column;
  }
}

@keyframes Mymarquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
