/* this cover the screen for me */
.screenCover {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(14, 13, 13, 0.25);
}
.hide {
  display: none;
}

.checker {
  list-style: none;
  text-decoration: none;
}

.no-inner-no-outer-spin[type="number"]::-webkit-inner-spin-button,
.no-inner-no-outer-spin[type="number"]::-webkit-outer-spin-button,
.no-inner-spin {
  appearance: none;
}
.FScustom {
  font-size: small;
}

.screenCover {
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(14, 13, 13, 0.25);
}

/* Registration Form */
.no-outline:focus {
  outline: none;
  box-shadow: none;
}
fieldset,
legend,
button,
.modal,
table,
tr,
td,
th {
  all: revert;
}

.d-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
}

.text-purple {
  color: rgb(255, 0, 255);
}
